h1{
    color: darkred;
    background-color: floralwhite;
}
h2{
    color: darkred;
    background-color: floralwhite;
}
ul{
    color: green;
}
ol{
    color: mediumblue;
}
footer{
    font-style: italic;
   
}

